.swiper-pagination {
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;
  transform: translate(-4%, -90%);
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #909092;
  border: 2px solid white;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.2);
  border-color: #7575e2;
}

.swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: white;
  border-color: #7575e2;
}

.swiper {
  height: 280px;
  overflow: hidden;
}

.swiper-slide .banner__text {
  margin: 0 0 30px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
